*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana;
}
body{
    background-color: rgba(231, 231, 231, 0.836);
}

/*menu1*/
#nav1 {
    background-color: rgb(45, 77, 89);
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#menu1{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 80px;
    align-items: center;
}

#menu1 li a{
    color: white;
    font-size: 1em;
    padding: 7px 13px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 40px;
}

#idiomas {
    list-style: none;
    font-size: 0.6em;
    display: flex;
}

#idiomas li a {
    margin: 0px;
}


/*menu2*/
#nav2 {
    background-color: rgb(15, 47, 73);
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    position: sticky;
    top: 0px;
}
#nav2 img{
    max-width: 80px;
    margin: 20px;
}
#menu2{
    display: flex;
    list-style: none;
    margin-right: 80px;
}

#menu2 li a{
    color: white;
    font-size: 1.3em;
    padding: 7px 13px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 25px;
    display: block;
}
#menu2 li .active:hover{
    color: white;
    background-color: rgb(69, 87, 94);
    transition: 1s;
    box-shadow: 0 0 10px rgba(69, 87, 94);
}

.menuVertical {
    display: none;
    list-style: none;
    position: absolute;
    background-color: rgba(15, 47, 73, 0.7);
    z-index: 1;
    
}
.menuVertical a {
    margin: 0px 10px;
}

.primeroLista {
    margin-top: 20px;
}
.menuVertical li:hover {
    background-color: rgba(166, 207, 18, 0.5);
}

#menu2 li:hover .menuVertical {
    display: block;
}

/*menu hamburguesa*/

#icono-hambur{
    cursor: pointer;
    font-size: 2.5em;
    color: white;
    display: none;
    margin-right: 20px;
}
#check{
    display: none;
}


/* fin del menu*/

/* Pie de Página */
footer {
    background-color: rgb(15, 47, 73);
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.redes-sociales img {
    width: 50px;
    height: 50px;
    padding: 10px;
}
#aspects {
    text-decoration: solid;
    color: #fff;
    font-weight: lighter;
    font-size: small
}

/* inicio pagina*/
.Tabla_patrocinadores {
    max-width: 700px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

h1 {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: aliceblue;
}

thead {
    background-color: rgba(166, 207, 18);
    color: #ffffff;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.logo_imagen {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

tbody tr:hover {
    background-color: #cce0ff;
}

th {
    font-weight: bold;
}

td {
    color: #333;
}

/*--------PANTALLAS PEQUEÑAS (TABLETS)*-------------*/
@media (max-width: 1300px) {
    #menu1 li a{
        font-size: 0.9em;
    }
    #menu2 li a{
        font-size: 1.1em;
        margin-left: 15px;

    }
    #nav2 img{
        max-width: 70px;
    }
}
@media (max-width: 1100px) {
    #menu1 li a{
        font-size: 0.8em;
    }
    #menu2 li a{
        font-size: 1em;
        margin-left: 5px;

    }
    #nav2 img{
        max-width: 60px;
        display: block;
    }

}
@media (max-width: 900px){
    #icono-hambur{
    display: block;
    }
    #menu2{
        display: none;
    }
    #check:checked ~ #menu2{
        display: block;
        flex-direction: column;
        position: fixed;
        top: 130px;
        background-color: rgba(15, 47, 73, 0.7);
        width: 100%;
        text-align: center;
    }
    #menu2 li .active:hover {
        background-color: rgba(166, 207, 18, 0.5);
        box-shadow: none;
        border-radius: 0%;
        margin: 0px;
    }
    #nav2 {
        justify-content: space-between;
    }
    .menuVertical {
        background-color: rgba(15, 47, 73);
        width: 100%;
        
    }
    .menuVertical a {
        margin: 0px 10px;
    }
    
    .primeroLista {
        margin-top: 0px;
    }
    .menuVertical li:hover {
        background-color: rgb(150, 150, 150);
    }
    #menu1 li .active:hover{
        color: white;
        background-color: rgb(69, 87, 94);
        transition: 1s;
        box-shadow: 0 0 10px rgba(69, 87, 94);
    }

    #idiomas {
        flex-direction: column;
    }
}
@media (max-width: 600px){
    #menu1 li .active{
        text-align: center;
    }

    #menu1 li a{
        margin-right: 20px;
    }
}